@* @model lounga.Dto.BookingHotels.AddGuestDto *@
@model lounga.Dto.Web.WebBookingHotelDto
@{
    ViewData["Title"] = "BookingHotel";
}

<style>

.button {
  background-color: #E67E22;
  border: none;
  color: white;
  padding: 15px 32px;
  vertical-align: middle;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.ctr {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 5px;
  background-color: #E67E22;
}

.ctr2 {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  background-color: whitesmoke;
}

.ctr0 {
  padding-right: 200px;
  padding-left: 200px;
  width: 1320px;
  padding-bottom: 5px;
}

.container {
  display: grid;
  padding-left: 0px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

</style>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class = "ctr0">
    <div>
        <div class= "ctr">
            <h3 style="color: white;">Booking Summary</h3>
            <div class="container">
                <div style="color: black;"><b>HOTEL &nbsp; </b> 
                </div>
                <i class="material-icons" style="color: black; font-size: 40px">hotel</i>
            </div>
            <p style="color: white;"><b>@Html.DisplayFor(model => model.name)</b></p>
            <p style="color: white;"><b>Check-in @Model.bookingDate.ToShortDateString() | Check-out @Model.bookingDate.AddDays(1).ToShortDateString()</b></p>
            <div class="row" style="color: white;">
                <dt class = "col-sm-10">
                    @Model.totalRoom Room(s)
                </dt>
                <dt class = "col-sm-2">
                    IDR @(Model.totalRoom*@Model.price)
                </dt>
            </div>
        </div>
        <br>
        <p><b>Contact's Details</b></p>
        <div class = "ctr2">
            <form asp-action="BookingHotel">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <input asp-for="bookingDate" class="form-control" type="hidden" value="@Model.bookingDate"/>
                </div> 
                <div class="form-group">
                    <input asp-for="name" class="form-control" type="hidden" value="@Model.name"/>
                </div> 
                <div class="form-group">
                    <input asp-for="totalRoom" class="form-control" type="hidden" value="@Model.totalRoom"/>
                </div> 
                <div class="form-group">
                    <input asp-for="price" class="form-control" type="hidden" value="@Model.price * @Model.totalRoom"/>
                </div> 
                <div class="form-group">
                    <input asp-for="hotelId" class="form-control" type="hidden" value="@Model.hotelId"/>
                </div> 
                <div class="form-group">
                    <input asp-for="roomId" class="form-control" type="hidden" value="@Model.roomId"/>
                </div> 
                <p>Name</p>
                <div class="form-group">
                    <input asp-for="guestName" class="form-control" />
                    <span asp-validation-for="guestName" class="text-danger"></span>
                </div>
                <br>
                <div class = "row">
                    <dd class = "col-sm-6">
                        <p>Email</p>
                        <div class="form-group">
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                         </div>  
                    </dd>
                    <dd class = "col-sm-6">
                        <p>Phone</p>
                        <div class="form-group">
                            <input asp-for="phone" class="form-control" />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div> 
                    </dd>
                </div>
                <br>
                <div class="form-group">
                        <input type="submit" value="Book Hotel" class="button"/>
                </div>
            </form>
        </div>
        
    </div>
</div>
