@using lounga.Dto.Web
@model lounga.Dto.Web.WebFindHotelDto
@{
    ViewData["Title"] = "FindHotel";
    
}

<br>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="~/css/FindHotel.css" asp-append-version="true" />
<body style= "background-color: whitesmoke">
    <div >
    <div class = "ctr">
        <div class = "ctr1">
            <h3 style="text-align: center; color: white;">List of Hotels</h3>
            <h6 style="text-align: center; color: white;">Hotel in  @Model.searchHotelDto.City | @Model.searchHotelDto.BookingDate.ToShortDateString() | @Model.searchHotelDto.TotalRoom Room(s) | @Model.searchHotelDto.Duration Night(s)</h6>
        </div>
        <br>

    @if(Model.findHotelDtos.Count == 0) {
        <div class="ctrnotfound">
        <i class="material-icons"  style="color: #E67E22; font-size:100px " >search_off</i>
        <p style="text-align: center; margin-left:20px; color:#E67E22; "><b>NOT</b></p>
            <p style="text-align: center; margin-left:10px; color:#E67E22; "><b>FOUND</b></p>
        </div>
    }
        @foreach (var item in Model.findHotelDtos)
        {
            
            <div class="ctnr">
                <dl class = "row">
                    <dt class = "col-sm-2">
                        <img src="@Html.DisplayFor(modelItem => item.Photos[0].Image)" width="150" height="200">
                    </dt>
                    <dd class = "col-sm-7">
                        <div class="container" >
                            <h4><b>@Html.DisplayFor(modelItem => item.Name)</b></h4>
                            <br>
                            <p>@Html.DisplayFor(modelItem => item.Phone)</p>
                            <br>
                            <p>@Html.DisplayFor(modelItem => item.Address)</p>
                            <p>
                                <div class="container">
                                    <div style="color: black;">@Html.DisplayFor(modelItem => item.Rating) &nbsp;
                                </div>
                                <i class="material-icons" style="color: orange;">star</i>
                            </p>
                        </div>
                    </dd>
                    <dd class = "col-sm-3">
                        <br>
                        <p>
                            Start from 
                            <span style = "color: #E67E22">IDR @Html.DisplayFor(modelItem => item.Rooms[0].Price)</span>
                            /room/night
                        </p>
                        @Html.ActionLink("Detail Hotel", "DetailHotel", new {bookingDate = Model.searchHotelDto.BookingDate,
                                        totalRoom = Model.searchHotelDto.TotalRoom, hotelId = item.id}, new { @class = "button" })
                    </dd>
                </dl>
            </div>
            <br>
        }
    </div>
    

</body>
