@model lounga.Dto.Web.WebBookingFlightDto
@{
    ViewData["Title"] = "BookingFlight";
}
<head>
    <link rel="stylesheet" href="~/css/detail-flight.css" asp-append-version="true" />
</head>

<div>
    <dl class="detailflightheader container">
        <p>DETAIL OF FLIGHT</p>
    </dl>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.Airline)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DepartureTime)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.ArrivalTime)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.DestinationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DestinationFrom)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.DestinationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DestinationTo)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.Price)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.SeatClass)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatClass)
        </dd>
        <hr>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Aircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.Aircraft)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.AircraftsType)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.CabinBaggage)
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.CabinBaggage)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.Baggage)
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.Baggage)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatLayout)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatPitch)
        </dd>        
    </dl>
    <hr>
</div>

<br>

<h1>Detail of Passenger</h1>
<hr>
@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="addPassengerDto.Title" class="control-label"></label>
                <input asp-for="addPassengerDto.Title" class="form-control" />
                <span asp-validation-for="addPassengerDto.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addPassengerDto.Name" class="control-label"></label>
                <input asp-for="addPassengerDto.Name" class="form-control" />
                <span asp-validation-for="addPassengerDto.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addPassengerDto.IdCard" class="control-label"></label>
                <input asp-for="addPassengerDto.IdCard" class="form-control" />
                <span asp-validation-for="addPassengerDto.IdCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="BookingFlight" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@using (Html.BeginForm("BookingFlight","ViewFlights", FormMethod.Post))
{
    @Html.HiddenFor(m => m.bookingDate)
    @Html.HiddenFor(m => m.destinationFrom)
    @Html.HiddenFor(m => m.destinationTo)
    @Html.HiddenFor(m => m.amountPassenger)
    @Html.HiddenFor(m => m.totalPrice)
    @Html.HiddenFor(m => m.flightId)
    for (var i=0; i < @Model.amountPassenger; i++)
    {
        <label> Passenger @(i+1) : </label><br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].Title)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].Title, new {htmlAttributes = new {@type = "text"}})<br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].Name)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].Name, new {htmlAttributes = new {@type = "text"}})<br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].IdCard)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].IdCard, new {htmlAttributes = new {@type = "text"}})<br>
    }
    <input class="btn btn-primary" type="submit" value="Book Now"/>
}

<div>
    <a asp-action="GetAllFlight">Back to List</a>
</div>

<br>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}