@model lounga.Dto.Web.WebBookingFlightDto
@{
    ViewData["Title"] = "BookingFlight";
}
<head>
    <link rel="stylesheet" href="~/css/detail-flight.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

@* <div class="container" style="background-color: whitesmoke;"> *@
<div>
    <dl class="detailflightheader container">
        <p>DETAIL OF FLIGHT</p>
    </dl>
    <dl class="boxdetail">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Airline)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.Airline)
            </dd>
        <hr>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Aircraft)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.Aircraft)
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.AircraftsType)
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.CabinBaggage)
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.CabinBaggage)
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.Baggage)
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.FacilitiesFlight.Baggage)
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatLayout)
            </dd>
            <dt class = "col-sm-2">
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatPitch)
            </dd>
        <hr>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.SeatClass)
            </dt> 
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.SeatClass)
            </dd> 
        <hr>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelitem => modelitem.getFlightDto.Price)
            </dd>       
        </dl>
    </dl>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.DestinationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DestinationFrom)
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DepartureTime)
        </div>
        <div class="col-sm-4">
       <div class="container">
  <div class="progress-container">
    <div class="progress" id="progress"> </div>
    <div class="circle">
        <i class="material-icons"  style=" margin-left:1px; font-size:25px; transform: rotate(90deg);" transform: rotate(-90deg); >flight</i>
    </div>
    <div class="circle active">
        <i class="material-icons"  style="color: #E67E22; margin-left:1px; font-size:25px; transform: rotate(90deg);" transform: rotate(-90deg); >flight</i>
    </div>
  </div>
</div>
        </div>

        <div class="col-sm-6">
            @Html.DisplayNameFor(modelitem => modelitem.getFlightDto.DestinationTo)
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.DestinationTo)
            @Html.DisplayFor(modelitem => modelitem.getFlightDto.ArrivalTime)
        </div>
    </div>
</div>
</div>
<br>



<div>
<h1>Detail of Passenger</h1>
<hr>

@using (Html.BeginForm("BookingFlight","ViewFlights", FormMethod.Post))
{
    @Html.HiddenFor(m => m.bookingDate)
    @Html.HiddenFor(m => m.destinationFrom)
    @Html.HiddenFor(m => m.destinationTo)
    @Html.HiddenFor(m => m.amountPassenger)
    @Html.HiddenFor(m => m.totalPrice)
    @Html.HiddenFor(m => m.flightId)
    for (var i=0; i < @Model.amountPassenger; i++)
    {
        <label> Passenger @(i+1) : </label><br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].Title)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].Title, new {htmlAttributes = new {@type = "text"}})<br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].Name)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].Name, new {htmlAttributes = new {@type = "text"}})<br>
        @Html.DisplayNameFor(m => m.addPassengerDtos[i].IdCard)<br>
        @Html.TextBoxFor(m=>m.addPassengerDtos[i].IdCard, new {htmlAttributes = new {@type = "text"}})<br>
    }
    <input class="btn btn-primary" type="submit" value="Book Now"/>
}
</div>

<div>
    <a asp-action="GetAllFlight">Back to List</a>
</div>

<br>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}