@model lounga.Dto.Web.WebFindFlightDto
@{
    ViewData["Title"] = "FindFlight";
}
<header>
<div class="findflightheader">
    <dl class="row">
        <dt class="col-sm-2">
        <h6>Airline Name</h6>
        </dt>
        <dt class="col-sm-2">
        <h6>Destination From </h6>
        </dt>
        <dt class="col-sm-1">
        </dt>
        <dt class="col-sm-2">
        <h6>Destination To</h6>
        </dt>
        <dt class="col-sm-2">
        <h6>Seat Class</h6>
        </dt>
        <dt class="col-sm-2">
        <h6>Facilities</h6>
        </dt>
        <dt class="col-sm-1">
        <h6>Price</h6>
        </dt>
    </dl>
</div>
</header>
<div >
@* <header>List Of Flight in @Model.findFlightDto.DestinationFrom | @Model.findFlightDto.DestinationTo </header> *@


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

@foreach (var item in Model.getFlightDtos){
    <div class="card">
        <dl class = "row">
            <dt class = "col-sm-0">
                <br>
                <dt class="col-sm-2">
                <h4 style="text-align:center " ><b>@Html.DisplayFor(modelItem => item.Airline)</b></h4>
                <i class="material-icons"  style="color: #E67E22; margin-left:70px; font-size:40px" >flight</i>

            </dt>
            <dd class = "col-sm-2">
                <div class="container" >
                    <p>@Html.DisplayFor(modelItem => item.DepartureTime)</p>
                    <p>
                        @Html.DisplayFor(modelItem => item.DestinationFrom)

                    </p>
                </div>
            </dd>
            <dd class="col-sm-1">
                <div>
                    <i class="material-icons"  style="color: grey; margin-left:10px; font-size:40px" >arrow_right_alt</i>
                </div>
            </dd>
            <dd class = "col-sm-2">
                <div class="container" style="align-content: center;" >
                    <p>@Html.DisplayFor(modelItem => item.ArrivalTime)</p>
                    <p>
                        @Html.DisplayFor(modelItem => item.DestinationTo)

                    </p>
                </div>
            </dd>
            <dd class = "col-sm-2">
                <div class="container" >
                    <p>@Html.DisplayFor(modelItem => item.SeatClass)</p>

                </div>
            </dd>
             <dd class="col-sm-1">
                <div>
                    <i class="material-icons"  style="color: grey; margin-right:10px; font-size:30px" >luggage</i>
                    <i class="material-icons"  style="color: grey; margin-right:10px; font-size:30px" >wifi</i>
                </div>
            <dd class = "col-sm-2" style="color: #E67E22;">
                <p>IDR @Html.DisplayFor(modelItem => item.Price)
                    </p>
                <p style="color: grey;">/Pax</p>
                @Html.ActionLink("Select", "BookingFlight", 
                new {departureDate = Model.findFlightDto.DepartureDate, amountPassenger = Model.findFlightDto.AmountPassenger, flightId = item.Id}, new { @class = "button" })
            </dd>
        </dl>
    </div>
    <br>
}