
@model IEnumerable<lounga.Dto.Flight.GetFlightDto>
@{
    ViewData["Title"] = "GetAllFlight";
}


@* <div style="margin-left: ;25%">
<h1>@ViewData["Title"]</h1>
</div> *@
<div >
<h1>List Of Flight</h1>



<table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(modelitem => modelitem.Airline)
            </th>
            <th>
            @Html.DisplayNameFor(modelitem => modelitem.DepartureTime)
            </th>
            <th>
            @Html.DisplayNameFor(modelitem => modelitem.DestinationFrom)
            </th>
            <th>
            @Html.DisplayNameFor(modelitem => modelitem.DestinationTo)
            </th>
            <th>
            @Html.DisplayNameFor(modelitem => modelitem.Price)
            </th>
        </tr>
    </thead>
</tbody>
    @foreach (var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="BookingFlight" asp-route-id="@item.Id">Select Flight</a> 
                <a asp-action="DetailFlights" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
</table>
<div class="sidenav">
  <a href="#"><i class="fa-light fa-square-user"></i>My Profile</a>
  <a href="#">My Order</a>
  <a href="#">Find Ticket</a>
  <a href="#">Logout</a>
</div> 


</div>